<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
      <appSettings>
        <add key="adminConnString" value="Data Source=localhost;Initial Catalog=dbVintageItems;Persist Security Info=True;User ID=loginAdmin;Password=azerty123" />
        </appSettings>
</configuration>